*{margin: 0;padding: 0;box-sizing: border-box;font-family: lato;}
body{width: 100%;}
/* Cabecalho da pagina */
.menu{
 background-color:#161616;   
height: 3.5vw;
display: flex;
align-items: center;
}
.menuItems{
    display: flex;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
}
.menuItems img{
    height: 2.2vw;
    width: auto;
}
.icon_menu{
    width: 10%;
    display: flex;
    justify-content: space-between;
    font-size:1.5vw ;
    color: white;
}
a{
    color:white
   }

/* Cabecalho da pagina */

/* ----------------------------------------------------------------------------------- */

/* Corpo da pagina */

h1{
    text-align: center;
    margin-top: 1vw;
}
.container{
    margin: 2vw auto;
    display: flex;
    flex-direction: column;
    width: 85%;
}
.linhas{
    display: flex;
    flex-direction: row;
    height: 5vw;
    width: 100%;
}
.colunaImg{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    border: solid #161616 0.3vw;
    border-collapse: collapse;
}
.colunaImg img{
    height: 4vw;
    margin-top: auto;
    margin-bottom: auto;
}
.colunas{
    
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
    border: solid #161616 0.3vw;
    border-collapse: collapse;
}
.finalizar{
    text-align: right;
    margin-top: 3vw;
}
.finalizar a{
    text-decoration: unset;
    color: white;
    padding: 1vw 2vw;
    background-color: #161616;
    border-radius: 2vw;
}
.finalizar a:hover{
    text-decoration: unset;
    color: #161616;
    padding: 1vw 2vw;
    background-color: white;
    border: solid #161616 0.5vw;
}
/* Corpo da pagina */