*{margin: 0;padding: 0;box-sizing: border-box;font-family: lato;}
body{width: 100%;}
/* Cabecalho da pagina */
.menu{
 background-color:#161616;   
height: 3.5vw;
display: flex;
align-items: center;
}
.menuItems{
    display: flex;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
}
.menuItems img{
    height: 2.2vw;
    width: auto;
}
.icon_menu{
    width: 5%;
    display: flex;
    justify-content: space-between;
    font-size:1.5vw ;
    color: white;
}

  /* Cabecalho da pagina */

  /*corpo da pagina*/
  .containerRegisto{
    width: 40%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    border: solid #161616 0.3vw;
    border-radius: 2vw;
}
form{
    width: 90%;
    margin: 2vw auto;
}
.box{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 2vw;
}
.registo{
    width: 60%;
    padding: 0.3vw 2vw;
    background-color:#161616;
    color:white;
    border:solid white 0.3vw;
    border-radius: 1vw;
    margin-right: auto;
    margin-left: auto;
}
.registo:hover{
    padding: 0.3vw 2vw;
    background-color:white;
    color:#161616;
    border:solid#161616 0.3vw;   
    border-radius: 1vw;
}
input{

    border:solid#161616 0.2vw;
    margin-top: 1vw;
}
span{
    font-size: 1vw;
}
 #registo{
    text-align: center;
    font-size: 1vw;
}
.links{
display: flex;
flex-direction: column;
align-items: center;
}
.links a{
    color:#161616
}